$black: #292524;
$grey: #ccc;
$yellow: #F3EB6F;
$lightgreen: #A6F087;
$green: #4B982B;
$darkgreen: #1F6304;
$red:#C70012;
$lightred: #FCA4AC;
$orange: #ff6835;
$darkorange: #a43518;
$darkestorange: #661f1a;
$lightblue: #a8dadc;
$blue: #457b9d;
$darkblue: #1d3557;